.carousel-container {
  position: relative;
  height: 100dvh;
  aspect-ratio: 1;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.circle {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: rotate-circle 120s linear infinite;
  transform-origin: center;
}

.circle-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 14px;
}

/* Smooth rotation animation */
@keyframes rotate-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
