

h1 {
  font-size: xx-large;
  font-weight: normal;
  margin: 10px 0px;
}

h2 {
  font-size: x-large;
  font-weight: normal;
  margin: 8px 0px;
}

h3 {
  font-size: large;
  font-weight: normal;
  margin: 6px 0px;
}

p {
  font-size: medium;
  font-weight: normal;
}